#input {
    border: none;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    /* margin: 0 auto; */
    padding: 1rem;
    box-shadow: 0.1rem 0.4rem 1.4rem rgb(152, 155, 155);

}

#input:focus {
    box-shadow: 0.1rem 0.8rem 1.4rem rgb(104, 105, 105);
}

.input-wrapper {
        text-align: center;
        margin-top: 5%;
    
}